
.ml-searchbox{
display: none;
visibility: hidden;
}

.gb_4b{
display: none;
visibility: hidden;
}

.gb_Dc{
display: none;
visibility: hidden;
}

.gm-inset-map{
display: none;
visibility: hidden;
}

.ml-branding-icon-google-logo-on-map{
display: none;
visibility: hidden;
}

.ml-lite-mode-button{
display: none;
visibility: hidden;
}
 
.gmnoprint{
display: none;
visibility: hidden;
}

.ml-gutter-bar{
display: none;
visibility: hidden;
}

.ml-lite-mode-popover{
display: none;
visibility: hidden;
}

